.Loader{
  @media screen and (max-width: 991px){
    height: calc(100vh - 226px);
  }
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  color:blue;
  direction: ltr;

}