.App {
  display:flex;
  flex-direction: column;
  max-height: 1024px;
  padding-bottom: 58px;
  background: #F8F8F8;

  .header {
    font-size: 32px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 37px;
    width: 100vw;
    height: 58px;
    background: rgba(214, 194, 141, 0.5);
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .content {
    flex:2;
    //display: flex;
    //padding: 0 0 0 102px;
    border : 2px solid rosybrown;
    max-width: 1440px;



  }

}

